#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: white;
}
 body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(43, 40, 40);
  background-image: url("src/assets/back.png");
 }
 
.header {
  display: block;
  padding: 1rem;
  margin-top: 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 0 5px 2px whitesmoke;
  transform-style: preserve-3d;
  font-weight: 700;
  height: 350px;
  width: 500px;
  backdrop-filter: blur(2px);
  cursor: pointer;
  transition: .5s;
  transform: perspective(1000px) rotateX(var(--rotate-X, 0))
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
button {
  border-radius: 8px;
  margin-left: 2px;
  margin-right: 2px;
  border: 1px solid transparent;
  padding: .6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: whitesmoke;
  cursor: pointer;
  transition: border-color .25s
}

button:hover {
  border-color: greenyellow;
}

button:focus,button:focus-visible {
  outline: 4px auto greenyellow;
}